body{
  margin:20px;
  background:rgb(255, 255, 231);
}

hr{
  border: 1px dashed black;
}

ul{
  list-style:circle;
}

a{
  text-decoration: none;
}

.leader{
  display:block;
  /* height:30px; */
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color: rgb(255, 255, 231);
  z-index:99;
  border-bottom:1px rgb(218, 218, 218) solid;
}

.yutong{
  position:absolute;
  right:10px;
  top:16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.yutong:hover{
  color:rgb(50, 79, 203);
}

.center_page{
  display:block;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color:black;
}

.center_page:hover{
  color:rgb(50, 79, 203);
}

.intro{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.motioncover-machine{
  width:98%;
}

.motioncover-theorder{
  width: 97%;
}

.about{
  text-decoration: none;
  color:rgb(50, 79, 203);
}

.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:black;
  font-size: 1.2rem;
  /* top:80px;
  left:30px; */
  width:50%;
  /* font-family: serif; */
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  top:50px;
  /* top:-130px;
  left:-30px; */
  /* margin-left: auto;
  margin-right: auto; */
  width:30%;
  /* border: 2px dashed;
  border-radius: 20px; */
}

.machine{
  color:black;
  display:inline;
}

.machinegirl{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

.machine:hover{
  color:black;
}

.machine:hover .machinegirl{
  opacity:1;
  display:block;
}

.mirror{
  color:black;
  display:inline;
}

.mirrormotion{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .mirror:hover{
  color:rgb(68, 152, 230);
} */

.mirror:hover .mirrormotion{
  opacity:1;
  display:block;
}

.gdes22003{
  color:black;
  display:inline;
}

.gdes22003motion{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .gdes22003:hover{
  color:rgb(120, 158, 12);
} */

.gdes22003:hover .gdes22003motion{
  opacity:1;
  display:block;
}

.seniorshow{
  color:black;
  display:inline;
}

.seniorshowmotion{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .seniorshow:hover{
  color:rgb(84, 106, 255);
} */

.seniorshow:hover .seniorshowmotion{
  opacity:1;
  display:block;
}

.transformer{
  color:black;
  display:inline;
}

.transformermotion{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .transformer:hover{
  color:rgb(255, 85, 136);
} */

.transformer:hover .transformermotion{
  opacity:1;
  display:block;
}

.order{
  color:black;
  display:inline;
}

.ex_order{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .order:hover{
  color:rgb(53, 93, 182);
} */

.order:hover .ex_order{
  opacity:1;
  display:block;
}

.labor{
  color:black;
  display:inline;
}

.ex_labor{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .labor:hover{
  color:rgb(199, 143, 19);
} */

.labor:hover .ex_labor{
  opacity:1;
  display:block;
}

.spirit{
  color:black;
  display:inline;
}

.ex_spirit{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .spirit:hover{
  color:rgb(77, 57, 8);
} */

.spirit:hover .ex_spirit{
  opacity:1;
  display:block;
}

.factory{
  color:black;
  display:inline;
}

.ex_factory{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .factory:hover{
  color:rgb(129, 25, 221);
} */

.factory:hover .ex_factory{
  opacity:1;
  display:block;
}

.her{
  color:black;
  display:inline;
}

.ex_her{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .her:hover{
  color:rgb(14, 190, 246);
} */

.her:hover .ex_her{
  opacity:1;
  display:block;
}

.crazy{
  color:black;
  display:inline;
}

.ex_crazy{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .crazy:hover{
  color:rgb(14, 65, 246);
} */

.crazy:hover .ex_crazy{
  opacity:1;
  display:block;
}

.batter{
  color:black;
  display:inline;
}

.ex_batter{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .batter:hover{
  color:rgb(83, 0, 238);
} */

.batter:hover .ex_batter{
  opacity:1;
  display:block;
}

.blue{
  color:black;
  display:inline;
}

.ex_blue{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .blue:hover{
  color:rgb(181, 0, 255);
} */

.blue:hover .ex_blue{
  opacity:1;
  display:block;
}

.relationship{
  color:black;
  display:inline;
}

.ex_relationship{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .relationship:hover{
  color:rgb(250, 0, 255);
} */

.relationship:hover .ex_relationship{
  opacity:1;
  display:block;
}

.why{
  color:black;
  display:inline;
}

.ex_why{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .why:hover{
  color:rgb(255, 0, 145);
} */

.why:hover .ex_why{
  opacity:1;
  display:block;
}

.dialogue{
  color:black;
  display:inline;
}

.ex_dialogue{
  opacity:0;
  transition:opacity 5s ease;
  display:none;
}

/* .dialogue:hover{
  color:rgb(100, 6, 207);
} */

.dialogue:hover .ex_dialogue{
  opacity:1;
  display:block;
}

.code_gif{
  color:black;
  display:inline;
  position:relative;
}

.touch{
  position: absolute;
  opacity:0;
  transition: opacity 1s ease;
}

.code_gif:hover {
  color:rgb(50, 79, 203);
}

.code_gif:hover .touch{
  opacity:1;
  z-index: 2;
}

/* .one{
  position: absolute;
  top:110%;
  left:30px;
  width:20vw;
} */

.two{
  position:absolute;
  top:-20px;
  left:-24vw;
  width:20vw;
}

.three{
  position:absolute;
  top:0;
  right:-60vw;
  width:20vw;
}

.four{
  position: absolute;
  top:0;
  left:-20vw;
  width:15vw;
}

.five{
  position: absolute;
  top:0;
  right:-26vw;
  width:15vw;
}

.six{
  position: absolute;
  top:0;
  left:-25vw;
  width:18vw;
}
.seven{
  position: absolute;
  top:0;
  right:-30vw;
  width:20vw;
}

.world{
  color:black;
  display:inline;
}

.world:hover{
  color:rgb(50, 79, 203);;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .logo{
    width:80%;
  }
  .intro{
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .title{
    width:100%;
  }
  .intro{
    width: 100%;
  }
}
