body{
  margin:20px;
  background:rgb(255, 255, 231);
}

p{
  color:black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a{
  color:rgb(255, 188, 17);
  text-decoration: none;
  display: inline;
}

a:hover{
  color:rgb(255, 81, 17);
}

.about{
  color:black;
  font-size: 1.1rem;
}

.back{
  color:black
  ;
  position:absolute;
  right:20px;
  top:20px;
  border: 2px dashed;
  border-radius: 10px;
  padding:5px 5px 5px 5px;
}

.back:hover{
  color:rgb(255, 17, 160);
  font-weight:400;
}

.name{
  /* font-family: 'Playfair Display', serif; */
  font-size: 1rem;
}

.cc_name{
  /* font-family: 'Noto Serif SC', serif; */
  font-size: 1rem;
}

.yt_img{
  width:20%;
  position: absolute;
  left:5px;
}

.describtion{
  /* font-family: 'Playfair Display', serif; */
  font-size: 1rem;
  position:absolute;
  left:20px;
  top:260px;
  width:700px;
}

.edu{
  font-size: 1rem;
  font-style: bold;
}

ul{
  color:black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  list-style:circle;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .describtion{
    width:90%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
