*{
  box-sizing: border-box;
}
body{
  margin:20px;
  background-color:White;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

hr{
  border: 1px dashed black;
}

.leader{
  display:block;
  /* height:30px; */
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color: white;
  z-index:99;
  border-bottom:1px white solid;
}

.yutong{
  position:absolute;
  right:10px;
  top:16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.yutong:hover{
  color:rgb(50, 79, 203);
}

.center_page{
  display:block;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color:black;
}

.center_page:hover{
  color:rgb(50, 79, 203);
}

.flawer{
  position:absolute;
  /* left:20px; */
  left:10px;
  top:14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.flawer:hover{
  color:rgb(50, 79, 203);
}

.back{
  text-decoration: none;
  margin-top: 8px;
  color:black;
  /* position:absolute; */
  text-align: left;
  top:0;
  border:1px dashed;
  border-radius: 10px;
  padding:4px 4px 4px 4px;
}

.description{
  color:black;
  display:block;
  font-size: 2.3rem;
  left:auto;
  right:auto;
  text-align: center;
  font-style: italic;
}

.reference{
  display:block;
  font-size: 1.5rem;
  left:auto;
  right:auto;
  text-align: center;
}

.link{
  text-decoration: none;
  color:black;
}

.link:hover{
  color:rgb(255, 91, 20);
}

.star{
  display:block;
  font-size: 2.3rem;
  left:auto;
  right:auto;
  text-align: center;
}
.back:hover{
  color:rgb(255, 20, 189);
}

.color_word01{
  color:rgb(255, 20, 189);
}

.color_word02{
  color:rgb(20, 156, 255);
}

.title{
  color:Black;
  font-size:2rem;
  position: block;
  text-align: center;
  height: 40px;
  font-weight: 600;
}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  transition: 1s;
  padding: 15px;
  width: 33%;
}

.gallery img:hover{
  filter:grayscale(100%);
  transition: scale(1.1);
}

@media screen and (max-width: 900px) {
  .gallery {
    width: 130%;
  }
  .description{
    width:100%;
  }
  .title{
    width:100%;
  }
}
